* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('lib/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-italic';
  src: url('lib/fonts/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('lib/fonts/Roboto-LightItalic.ttf');
}


body {
  font-family: 'Roboto-Regular';

}

.App {
  background-color:#eceff1;
  background-position: bottom;
  background-size: cover;

}

.App.Clear {
  background-color:#eceff1;
}

main {
  min-height: 100vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 auto 75px;
}

.search-box .search-bar {
  margin-top: 15px;
  display: block;
  padding: 2%;
  width: 100%;

  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  color:#000000;
  font-size: 16px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: (255, 255, 255, 0.8);
}

.date {
  font-weight: bold;
  font-size: 25px;
}

.location-box .location {
  color:#000000;;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  font-family: 'Roboto-LightItalic';
}

.location-box .date {
  color:#000000;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  font-family: 'Roboto-LightItalic';
}

.weather-box {
  text-align: center;

}

.weather-box .temp {
  position:relative;
  display: inline-block;
  margin: 5px auto;

  padding: 10px 25px;

  color:#000000;
  font-size: 102px;

  text-align: center;
}

.weather-box .weather {
  color:#000000;
  font-size: 20px;
  font-family: 'Roboto-LightItalic';
}

.advice-box {
  text-align: center;
  color:#000000;
  font-size: 20px;
  margin: 40px auto;
  font-family: 'Roboto-LightItalic';
}
.dog-box{
  position:relative;
  text-align: center;
  display: inline-block;
  margin: 70px auto;

  color:#000000;
  font-size: 40px;
  text-align: center;
  font-family: 'Roboto-Regular';
}

.Button{
  align-self: center;
  text-align: center;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 16px;
  color:#000000;
  font-size: 20px;
  text-align: center;
}

.title{
  text-align: center;
  color:#000000;
  font-size: 20px;
  text-align: center;
}
.Select{
  margin-top: 15px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  padding: 2%;
}
.Button2{
  align-self: center;
  text-align: center;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 16px;
  color:#000000;
  font-size: 20px;
  text-align: center;
}
.Button3{
  align-self: center;
  text-align: center;
  display: inline-block;
  margin: 30px auto;
  width:40%;
  border-radius: 10px;
  border-color: #000000;
  background-color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto-italic';
}
